In [0]:
import pandas as pd
import numpy as np
import re
from sklearn.ensemble import RandomForestClassifier as rf
from sklearn.model_selection import train_test_split

In [0]:
# Import the data files to the local directory

!wget --user 'lambda' --password 'W$RCc&cmQ^n!b4k'  'https://detect-now.org/pakistan/url/org/admin_access_data'

--2020-04-15 07:30:07--  https://detect-now.org/pakistan/url/org/admin_access_data
Resolving detect-now.org (detect-now.org)... 52.178.92.96
Connecting to detect-now.org (detect-now.org)|52.178.92.96|:443... connected.
HTTP request sent, awaiting response... 401 UNAUTHORIZED
Authentication selected: Basic realm="Login Required"
Reusing existing connection to detect-now.org:443.
HTTP request sent, awaiting response... 200 OK
Length: 32862 (32K) [application/json]
Saving to: ‘admin_access_data.1’

admin_access_data.1 100%[===================>]  32.09K  --.-KB/s    in 0.005s

2020-04-15 07:30:07 (5.81 MB/s) - ‘admin_access_data.1’ saved [32862/32862]

In [0]:
# Extract the textual information from the .csv to a dataframe

df = pd.read_json(r'/content/admin_access_data')
df.head()

       age consent  ... breathe_filename patient_smartphone_used_for_data_collection
0  41 - 55     yes  ...              NaN                                         NaN
1  31 - 40     yes  ...              NaN                                         NaN
2  31 - 40     yes  ...              NaN                                         NaN
3  18 - 30     yes  ...              NaN                                         NaN
4  31 - 40     yes  ...              NaN                                         NaN

[5 rows x 15 columns]

In [0]:
# For downloading CSV file

df.to_csv (r'Dow_data_day3.csv', index = None)

**Mapping the labels and getting actual DataFrame.**

In [0]:
# first upload the downloaded CSVs i.e. collected data and test results into correct format
# 2nd match the correct labels with the patientIDs

# For matching the patient IDs

import pandas as pd

ss = []
gg = []
matched_ids = []
df1 = pd.read_csv("COVID-19-labels.csv")
df2 = pd.read_csv("Dow_data_day22.csv")
df2 = df2.drop(columns=["age", "consent", "filename" , "data_t", "video_patient_finder_tip_filename","patient_id", "sampleType", "corona_test"])

# For adding these columns into df2 dataframe.
df2["age"] = df1["AGE"]
df2["results"] = df1["COV2_PCR_Result"]

# df2["results"] = df1["CoV2-PCR Result"] 
# df1['MR No'] = df1["MR No"].astype(str)
# df2['patientID'] = df2["patientID"].astype(str)
# merged = df1.merge(df2, left_on = "MR No", right_on = "patientID", how = "outer")
# # merged = pd.concat([df1, df2])
# merged.to_csv("output.csv", index=False)
for id in df1["MR_No"]:
    ss.append(id)
#     if id in df2["patientID"]:
#         print("MATCHED")
#     else:
#         print("NOT MATCHED")

for id in df2['patientID']:
    gg.append(id)

for i in ss:
    if i in gg:
        matched_ids.append(i)

In [0]:
matched_ids

[200413111463989.0,
 200413111464405.0,
 200413111464303.0,
 200413111464227.0,
 200413111464350.0,
 200413111464362.0,
 200413111464251.0]

In [0]:
# For appending matched columns into new DataFrame
df3 = pd.DataFrame()
for i in matched_ids:
  hh = df2[df2["patientID"] == i]
  df3 = df3.append(hh)

In [0]:
# so this is data frame which is containing actual results.
df3.head(9)

    gender                                    medical_history  ...  age       results
4     male                                                NaN  ...   67      DETECTED
14  female                       Diabetes with complications,  ...   39  NOT DETECTED
6   female                                                NaN  ...    2      DETECTED
2     male                                                NaN  ...   45  NOT DETECTED
5     male                                                NaN  ...    8  NOT DETECTED
12    male  Disease or conditions that make it harder to c...  ...    1  NOT DETECTED
7     male                    Asthma or chronic lung disease,  ...   41  NOT DETECTED

[7 rows x 7 columns]